{% load static %}
<html>
    <head>
        <title>
            event page 
        </title>
        <script src="{% static 'js/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </head>
<body>

    <div class="alert alert-primary" role="alert">
        <h1> Event Management System  <span class="font-italic float-sm-right"> {{logged_in}} </span>
            
        </h1>
       <marquee> <span id="current_time">  </span> </marquee>


      </div>




<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Event name:</span>
            <input type="text" id="event_name" class="form-control">
        </div>
      </div>
      <div class="col-sm">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Event place: </span>
            <input type="text" id="event_place" class="form-control">
        </div>
      </div>
      
      <div class="col-sm">
        <input type="button" value="submit" class="btn btn-primary" onclick="event_save_edit_delete('add')"> 
      </div>
    </div>



    
  </div>


<!-- <form method="post"> -->
<!-- event name: <input type="text" id="event_name" id="eventnameid">
event place: <input type="text" id="event_place" id="eventpalceid">
<input type="button" value="submit" onclick="save()">  -->
<!-- </form> -->
<br>
<hr>
<div class="container">
<table class="table table-dark">
    <tr> 
        <td>ID</td> <td>Event_name</td><td>Event_place</td>
        <td> Edit </td>
        <td> Delete</td>
    </tr>
    {% for each_event in event_list %}
    <tr> 
        <td> {{each_event.event_id}}  </td> <td> {{each_event.event_name}} </td><td>{{each_event.event_place}}</td>  
        <td> <input type="button" value="edit" class="btn btn-warning" onclick="edit(this)"> </td> 
        <td> <input type="button" value="Delete" class="btn btn-danger" onclick="event_save_edit_delete('delete', '{{each_event.event_id}}')"> </td>                
    </tr>
    {% endfor %}

</table>
</div>





<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- <h4 class="modal-title">Modal Header</h4> -->
        </div>
        <div class="modal-body">


<!-- <div class="container"> -->
    <!-- <div class="row"> -->
        Event_name: <input type="text" id="edit_event_name">
        <br>
        Event place: <input type="text" id="edit_event_place">
        <input type="hidden" value="" id="edit_id">
        <br>
        <input type="button" value="submit" class="btn btn-primary" onclick="event_save_edit_delete('edit')"> 
        <br>
    <!-- </div> -->
        <!-- <input type="button" value="submit" class="btn btn-primary" onclick="event_save_edit_delete('add')">  -->
      
    <!-- </div> -->
  </div>
          


        </div>
        <div class="modal-footer">
            <!-- <input type="button" value="submit" class="btn btn-primary" onclick="event_save_edit_delete('add')">  -->

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>





<script>
  function event_save_edit_delete(op, id=null){

      
       var data = {};
       if (op === 'add'){
           data = { 
                    "operation": "add", 
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    "event_name": $('#event_name').val(),
                    "event_place": $('#event_place').val(),
                }
       }
       else if(op === 'edit') {
                data = {
                    'operation': 'edit',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    "event_name": $('#edit_event_name').val(),
                    "event_place": $('#edit_event_place').val(),
                    "event_id" :  $('#edit_id').val()
                }
       }
       else{
           data = {
                    "operation": "delete",
                    "event_id": id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',                    
                }
       }
        $.ajax({
                url: "/eventpage/",
                type: "POST",
                data: data,
                success: function() {
                    window.location.reload()   // just to get the updated value from the database
                },
                error: function() {
                        console.log(" Inside error ");    
                },
            })
        }

        function edit(event){
            
            var event_id = event.parentElement.parentElement.cells[0].innerText;
            var event_name = event.parentElement.parentElement.cells[1].innerText;
            var event_place = event.parentElement.parentElement.cells[2].innerText;
            $("#myModal").modal('show');

            $('#edit_event_name').val(event_name);
            $('#edit_event_place').val(event_place);

            $('#edit_id').val(event_id);



        }

        setInterval(function(){ 
        var date = new Date();
        $('#current_time').text(date.toString());
        }, 1000)
        
</script>





</body>
</html>