{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<title>login pages ..</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png"  href="{% static 'images/icons/favicon.ico' %}"/>
	
	<!-- href="images/icons/favicon.ico"/> -->


<!--===============================================================================================-->


<!-- <link rel="stylesheet" href="{% static 'js/vendor/bootstrap/css/bootstrap.min.css' %}"> -->

<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/animate/animate.css' %}">

	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css"> -->
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="alert alert-dark" role="alert">
		Sign In ExpoData Labs	
	</div>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<!-- <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);"> -->
				<div class="login100-form-title">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<!-- <form class="login100-form validate-form" method="post"  action="/"> -->
					
					<div class="validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter username" id="username_id">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="Enter password" id="password_id">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>
						<div>
							<button onclick="signup_mdl()" class="txt1">
								Sign up
							</button>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" onclick="call_login()">
							Login
						</button>
					</div>
				</div>
				<!-- </form> -->
			</div>
		</div>
	</div>
    
    
<!--===============================================================================================-->
<script src="{% static 'js/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<!-- <script src="{% static 'js/vendor/select2/select2.min.js' %}"></script> -->
<!--===============================================================================================-->
<script src="{% static 'js/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'js/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/vendor/countdowntime/countdowntime.js' %}"></script>
<!--=================================$==============================================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>




<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Please Register</h4>
        </div>
        <div class="modal-body">


<!-- <div class="container"> -->
    <!-- <div class="row"> -->
		<div class="form-group">
			<input type="text" id="username" placeholder="enter user name">
		</div>
		<div class="form-group">
			<input type="text" id="email" placeholder="enter email id">
		</div>
		<div class="form-group">
        	<input type="password" id="password" placeholder="enter password">
		</div>
		<div class="form-group">
        	<input type="button" value="Signup" class="btn btn-primary" onclick="signup()"> 
		</div>
    <!-- </div> -->
        <!-- <input type="button" value="submit" class="btn btn-primary" onclick="event_save_edit_delete('add')">  -->
      
    <!-- </div> -->
  </div>
          


        </div>
        <div class="modal-footer">
            <!-- <input type="button" value="submit" class="btn btn-primary" onclick="event_save_edit_delete('add')">  -->

          <button type="button" class="btn btn-default" class='fas fa-share' data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>

<script>
function signup_mdl(){
 $("#myModal").modal('show');
}

function signup(){
	//  this will be the implementations of the sign up
	var data = {
		"username":$('#username').val(),
		"password":$('#password').val(),
		"email":$('#email').val(),
		csrfmiddlewaretoken: '{{ csrf_token }}'
	}
	debugger;
	$.ajax({
                url: "signup/",
                type: "POST",
                data: data,
                success: function(data) {
						console.log("inside the success");
						if (data.status){
							alert("account created");
						}
						else{
							alert("Failure");
						}
                },
                error: function() {
                        console.log(" Inside error ");    
                },
            })
}



call_login = () => {

	$.ajax({
                url: "/",
                type: "POST",
                data: {
					"username": $('#username_id').val(),
					"password": $('#password_id').val(),
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
                success: function(data) {
					if (data.user_auth){
						//debugger;
						$('.alert-dark').html(data.user);
						setTimeout(function(data){
							window.location = '/eventpage/';
						}, 3000)
						
					}
					else{
						alert("Error username or password");
						// user is not autheticated
					}
                    //window.location.reload();   // just to get the updated value from the database
                },
                error: function() {
                        console.log(" Inside error ");    
                },
            })
}





</script>
</html>